.text {
    position: relative;
    padding-left: 12px;

    &:before {
        position: absolute;
        content: '”';
        font-size: 36px;
        top: -4px;
        left: -4px;
        color: #090963;
    }
}