.button {
    height: 30px;
    min-width: 40px;
    border: none;
    background-color: #288afa;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 18px;

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}

.tabs-button {
    background: none;
    color: #343434;

    &.disabled {
        background-color: #288afa;
        opacity: 1;
        color: #fff;
        pointer-events: none;
    }
}

.left-button {
    border-radius: 4px 0 0 4px;
}
.right-button {
    border-radius: 0 4px 4px 0;
}