.item {
    margin-bottom: 16px;
}
.user {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 8px;
    opacity: 0.7;
    color: #288afa;
}
.text {
    position: relative;
    padding-left: 12px;

    &:before {
        position: absolute;
        content: '”';
        font-size: 36px;
        top: -4px;
        left: -4px;
        color: #090963;
    }
}
.form {
    margin-top:40px;
}
.button {
    margin-top: 20px;
}