.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.controls {
    display: flex;
    align-items: center;
}
.amount {
    margin-right: 20px;
}
.separator {
    width: 1px;
    height: 30px;
    background-color: #090963;
}
